
<div  *ngIf="aedit" class="row">
    <br>
   
     

            <div class="col-md-12">
                <!--<ba-card title="Bonus Types" baCardClass="table-panel">-->
                <div class="responsive">
                    <table class="table  table-striped" style="text-align: left">
                        <thead>
                            <tr>
                                <th class="table-id"># </th>
                                <th>Project</th>
                                <th>Manager</th>
                                <th>Estimated Time</th>
                                <th>Worked Time</th>
                                <th>Progress</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr *ngFor="let item of tableData; let i = index ">
                                <td>{{ i+1 }}</td>
                                <td>{{ item.name}}</td>
                                <td>
                                    <button (click)="setItem(item)" ngClass="{status-button btn btn-xs btn-primary">
                                                <i class="ion-edit"></i>
                                            </button>

                                    <button (click)="deleteItem(item)" ngClass="{status-button btn btn-xs btn-danger"> <i class="ion-trash-b"></i>
                                            </button>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <!--</ba-card>-->
            </div>

</div>


<div  *ngIf="fedit" class="row">
    <form class="col-md-6" [formGroup]="myForm">
        <h3>New Project</h3>
        <br>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" formControlName="title">
        </div>
        <div class="form-group">
            <label>Duration of Project</label><br>
             <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"   (dateRangeChanged)="onDateRangeChanged($event)" required></my-date-range-picker>
        </div>
         <div class="form-group">
            <label>Project Manager</label><br>
           <input auto-complete class="form-control" [source]="mySource" (valueChanged)="mymanager($event)" />  </div>
        <button type="submit" (click)="submit()" class="btn btn-default">Submit</button>
     
  <pre><code>{{ myForm?.value | json }}</code></pre> 
    </form>
</div>