<div class="row">
    <form class="col-md-6" [formGroup]="myForm">
        <h3>New Project</h3>
        <br>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" formControlName="title">
        </div>
        <div class="form-group">
            <label>Duration of Project</label><br>
             <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"   (dateRangeChanged)="onDateRangeChanged($event)" required></my-date-range-picker>
        </div>
         <div class="form-group">
            <label>Project Manager</label><br>
           <input auto-complete class="form-control" [source]="mySource" (valueChanged)="mymanager($event)" />  </div>
        <button type="submit" (click)="submit()" class="btn btn-default">Submit</button>
     
  <pre><code>{{ myForm?.value | json }}</code></pre> 
    </form>
</div>